[Desktop Entry]
Type=Application
Version=1.0
Name=Quicken
GenericName=Access Quicken In A Remote KVM
Comment=Access Quicken KVM on fang
Icon=quicken-kvm-access
TryExec=quicken-kvm-access
Exec=quicken-kvm-access
Terminal=false
Categories=Office;
StartupNotify=true
